@import url('https:fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800splay=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
       background-image: linear-gradient(
        (#1a1a29),
        (#1a1a29)),
        url(imag.2.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;       
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li  {
    position: relative;
    float: left;
}

.menu .navbar ul li  a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
} 

